.small-input{
    display: inline-block;
    width: 600px;
}
.categBlock {
    border: solid black 2px;
    height: 75px;
}

.question{
    height: 400px;
    width: 1200px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 5px;
}

.question-texte{
    position: relative;
    margin-top: 5%;
}

.answer{
    height: 100px;
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 200px;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 5px;
}